.homepage {
	
	.homepage-blurb {
		margin-top: 25px;
		font-size: 1.25rem;
	}

	.beach img {
		width: 70%;
	}

	.site-buttons {
	    margin-top: 35px;

	    a {
	    	margin: 15px;

	    	&.btn-large {
	    		background-color: $royalBlue;
	    		width: 250px;
	    	}

	    	&.baby-shower {
	    		display: none;
	    	}
	    }
	}
}