.homepage {
	margin-top: 10rem;

	.homepage-wrapper {
		background-color: rgba(0, 0, 0, 0.7);
		padding: 1.5rem .5rem;
		overflow: hidden;
	}

	.homepage-blurb {
		margin-top: 25px;
		font-size: 1.25rem;
	}

	.site-buttons {
	    margin-top: 35px;

	    a {
	    	margin: 15px;

	    	&.btn-large {
	    		background-color: $skyBlue;
	    		width: 250px;
	    	}

	    	&.baby-shower {
	    		display: none;
	    	}
	    }
	}
}