html {
    height: 100%;
    width: 100%;
    background: $skyBlue;
    // background: url(/images/beach.jpeg) no-repeat center center fixed; 
    // -webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    // background-size: cover;
}

img {
    width: 100%;
}

@include bp(tablet){
    body {
        padding-bottom: 50px;
    }
}

h1 {
    color: $royalBlue;
    font-family: staatliches;
    font-size: 5rem;
    margin: 0;
}

h2 {
    color: $royalBlue;
    font-size: 2.5rem;
    font-family: lobster;
    margin: 0;
}

a {
    color: $tangerine;

    &:hover {
        color: #fff;
    }
}

input {
    color: #9e9e9e;
}

.home-btn {
    position: absolute;
    top: 2rem;
    left: 2rem;
    color: $royalBlue;
}


.main-content {
    padding: 2rem;
    margin-top: 4rem;
    color: #fff;
    /* background: rgba(0, 0, 0, .7);*/

    p {
        line-height: 1.5;
    }
}

.baby-pics {
    margin-top: 3rem;
    padding: 3rem;
    background: rgba(0, 0, 0, .7);
}